[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-script = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"
flask-security = "*"
gunicorn = "*"


[dev-packages]

pycodestyle = "*"
