{% extends "base.html" %}
{% block title %} Marked Signup {% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center"> Marked Signup </h1>

  <form method="post">
    <br>
    <div class="text-center">

      <div class="md-form">
        <input type="email" name="email" class="form-control" id="email" value="{{ request.form.email }}" required> 
        <label for="emailField"> Email Address </label>
      </div>

      <div class="md-form">
        <input type="password" name="password" class="form-control" id="password" value="{{ request.form.password }}" required> 
        <label for="passwordField"> Password </label>
      </div>

      <div class="md-form">
        <button type="submit" class="btn btn-default"> Signup </button>
      </div>

      <p> Don't have an account? <a href="/auth/signup"> Signup here! </a></p>
    </div>
  </form>
</div>
{% endblock %}
